<div class="jumbotron">
    <form>
        <div class="row">


            <div class="col-6">
                Current Password
                <input type="text">
            </div>


        </div>
        <div class="row">

            <div class="col-6">
                New Password
                <input type="text">
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                Re-Enter New Password
                <input type="text">
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <button>Submit</button>
            </div>
        </div>
    </form>
    <br>
</div>