<nav class="navbar navbar-toggleable-md sticky-top navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" [routerLink]="['/']">PeerConnect</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right">

            <li class="nav-item" *ngIf="auth.loggedIn()">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="!auth.loggedIn()">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>

            <li class="nav-item" *ngIf="!auth.loggedIn()">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>

            <li class="nav-item" *ngIf="auth.loggedIn()">
                <a class="nav-link" (click)="logoutClick()" href="#">Logout</a>
            </li>
        </ul>

    </div>
</nav>