.cass1 {
    background-color: red;
    min-height: 400px
}

.cass2 {
    background-color: green;
    min-height: 400px
}

.cass3 {
    background-color: yellow;
    min-height: 400px
}

.cass4 {
    background-color: black;
    min-height: 400px
}