<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3" *ngFor="let res of dada">

            <div class="card">
                <img class="card-img-top" src="{{res.urlToImage}}" alt="Loading...">
                <div class="card-block">
                    <h4 class="card-title">{{res.title}}</h4>
                    <p class="card-text">{{res.description}}</p>
                    <a href={{res.url}} target="_blank">...Click to read more</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3" *ngFor="let res of dara">

            <div class="card">
                <img class="card-img-top" src="{{res.urlToImage}}" alt="Loading...">
                <div class="card-block">
                    <h4 class="card-title">{{res.title}}</h4>
                    <p class="card-text">{{res.description}}</p>
                    <a href={{res.url}} target="_blank">...Click to read more</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3" *ngFor="let res of data">

            <div class="card">
                <img class="card-img-top" src="{{res.urlToImage}}" alt="Loading...">
                <div class="card-block">
                    <h4 class="card-title">{{res.title}}</h4>
                    <p class="card-text">{{res.description}}</p>
                    <a href={{res.url}} target="_blank">...Click to read more</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3" *ngFor="let res of daza">

            <div class="card">
                <img class="card-img-top" src="{{res.urlToImage}}" alt="Loading....">
                <div class="card-block">
                    <h4 class="card-title">{{res.title}}</h4>
                    <p class="card-text">{{res.description}}</p>
                    <a href={{res.url}} target="_blank">...Click to read more</a>
                </div>

            </div>
        </div>
    </div>
</div>