<div id="content " class="site-content ">

    <div id="printable-content ">
        <div class="container-fluid ">
            <div class="row ">
                <div id="primary " class="content-area ">
                    <main id="main " class="site-main ">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1482415011801 vc_row-has-fill ">
                            <div class="flocks-vc-row-container ">
                                <div class="wpb_column vc_column_container vc_col-sm-12 ">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper ">
                                            <div class="vc_empty_space " style="height: 100px "><span class="vc_empty_space_inner "></span></div>
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex ">
                                                <div class="wpb_column vc_column_container vc_col-sm-8 ">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper ">
                                                            <h2 style="font-size: 42px;color: #ffffff;text-align: left " class="vc_custom_heading ">PeerConnect </h2>
                                                            <p style="font-size: 18px;color: #e2e2e2;text-align: left " class="vc_custom_heading ">Start Your Community Here</p>
                                                            <div class="vc_btn3-container vc_btn3-inline vc_custom_1484908121095 ">
                                                            </div>
                                                            <div class="vc_btn3-container vc_btn3-inline ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-1 ">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper "></div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-3 ">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper ">
                                                            <div class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_right-to-left right-to-left ">

                                                                <figure class="wpb_wrapper vc_figure ">
                                                                    <div class="vc_single_image-wrapper vc_box_border_grey "><img width="419 " height="869 " src="../../assets/wp-content/uploads/2016/12/floccks-mobile-2.png " class="vc_single_image-img attachment-full
                                                                " alt=" " srcset="http://flocks.dunhakdis.com/wp-content/uploads/2016/12/floccks-mobile-2.png 419w, http://flocks.dunhakdis.com/wp-content/uploads/2016/12/floccks-mobile-2-145x300.png 145w, http://flocks.dunhakdis.com/wp-content/uploads/2016/12/floccks-mobile-2-96x200.png
                                                                96w " sizes="(max-width: 419px) 100vw, 419px " /></div>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space " style="height: 20px "><span class="vc_empty_space_inner "></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div id="site-footer-widgets" class="footer-style-1 site-footer-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="widget-collections">
                                            <section id="text-2" class="widget col-md-3 col-sm-6 widget_text">
                                                <h2 class="widget-title">About peerConnect</h2>
                                                <div class="textwidget">
                                                    <p>Flocks is the most advance BuddyPress theme up to date. It's pack with awesome features that will make your life easier when building a community or social networking website using WordPress.</p>
                                                    <p>It has full support for the most popular plugins like BuddyPress, bbPress, and WooCommerce. It also comes with Slider Revolution and Visual Composer.</p>
                                                </div>
                                            </section>

                                            <section id="gears_social_media_widget-2" class="widget col-md-3 col-sm-6 gears_social_media_widget">
                                                <h2 class="widget-title">Social Media</h2>
                                                <ul>

                                                    <li>
                                                        <div class="gears-social-media-link facebook-wrap">


                                                            <a href="https://www.facebook.com/DSCOfficial/" title="Facebook" class="facebook" target="_blank" data-hint="Follow us on Facebook">

                                                                <span class="fa fa-facebook">   </span>

                                                            </a>


                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="gears-social-media-link twitter-wrap">


                                                            <a href="#" title="Twitter" class="twitter" target="_blank" data-hint="Follow us on Twitter">

                                                                <span class="fa fa-twitter">   </span>

                                                            </a>


                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="gears-social-media-link instagram-wrap">


                                                            <a href="#" title="Instagram" class="instagram" target="_blank" data-hint="Follow us on Instagram">

                                                                <span class="fa fa-instagram">   </span>

                                                            </a>


                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="gears-social-media-link googleplus-wrap">


                                                            <a href="#" title="Google+" class="googleplus" target="_blank" data-hint="Follow us on G+">

                                                                <span class="fa fa-google-plus">   </span>

                                                            </a>


                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="gears-social-media-link linkedin-wrap">


                                                            <a href="#" title="Linkedin" class="linkedin" target="_blank" data-hint="Visit our LinkedIn">

                                                                <span class="fa fa-linkedin">   </span>

                                                            </a>


                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="gears-social-media-link email-wrap">


                                                            <a href="mailto:#" title="Email" class="email" target="_blank" data-hint="Send us an Email">

                                                                <span class="fa fa-envelope">   </span>

                                                            </a>


                                                        </div>
                                                    </li>

                                                </ul>
                                                <div class="clearfix"></div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer id="colophon" class="site-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="site-info">

                                            <div class="row">

                                                <div id="site-copyright" class="col-xs-12 col-sm-8">

                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-4">

                                                            <div id="site-copytext">

                                                                Copyright &copy; 2017 <a href="../product-landing-page/index.html" title="Flocks Community Demo">
							peerConnect						</a>
                                                            </div>

                                                        </div>

                                                        <div class="col-xs-12 col-sm-8">



                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-xs-12 col-sm-4">

                                                    <div class="pull-right">

                                                        <a href="../product-landing-page/index.html" title="Flocks Community Demo &mdash; Just another WordPress site">

                                                            <span id="footer-extratext">
					
					Build your network Wide
					
						&mdash; 
					
					peerConnect					
					</span>

                                                        </a>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .site-info -->
                                    </div>
                                </div>
                            </div>
                        </footer>