<div id="printable-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 content-full-width">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">

                        <article id="post-2250" class="post-2250 page type-page status-publish hentry">
                            <header class="entry-header screen-reader-text">
                                <h1 class="entry-title">Register</h1>
                            </header>
                            <div class="entry-content">

                                <div id="buddypress">


                                    <div class="page flocks-inline" id="register-page">

                                        <div id="cover-image">

                                            <div id="cover-image-wrap" class="standard align-center">

                                                <div id="cover-image-inner-wrap">

                                                    <div id="cover-image-copy">

                                                        <div class="container">



                                                            <h1 class="entry-title">CREATE AN ACCOUNT</h1>

                                                            <div class="heading-lead">
                                                                Get yourself connected to the world of peerConnect
                                                            </div>





                                                        </div>
                                                        <!--.container-->
                                                    </div>
                                                    <!--#cover-image-copy-->
                                                </div>
                                            </div>
                                        </div>
                                        <div id="flocks-register-heading">
                                            <h2>Register</h2>

                                        </div>
                                        <p>
                                            <button id="indiv" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./individual']">Individual</button>
                                            <button id="organ" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./organisation']">Organisation</button>
                                        </p>

                                        <div class="container">
                                            <router-outlet></router-outlet>
                                        </div>
                                    </div>


                                </div>
                                <!-- #buddypress -->
                            </div>
                            <footer class="entry-footer">
                            </footer>
                        </article>
                        <!-- #post-## -->
                    </main>
                </div>
            </div>
            <!--.col-lg-9-->
            <!--.col-lg-3-->
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</div>
<!--#printable-content-->

<!--container-->






<div id="site-footer-widgets" class="footer-style-1 site-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="widget-collections">
                    <section id="text-2" class="widget col-md-3 col-sm-6 widget_text">
                        <h2 class="widget-title">About &nbsp peerConnect</h2>
                        <div class="textwidget">
                            <p>Flocks is the most advance BuddyPress theme up to date. It's pack with awesome features that will make your life easier when building a community or social networking website using WordPress.</p>
                            <p>It has full support for the most popular plugins like BuddyPress, bbPress, and WooCommerce. It also comes with Slider Revolution and Visual Composer.</p>
                        </div>
                    </section>

                    <section id="gears_social_media_widget-2" class="widget col-md-3 col-sm-6 gears_social_media_widget">
                        <h2 class="widget-title">Social Media</h2>
                        <ul>

                            <li>
                                <div class="gears-social-media-link facebook-wrap">


                                    <a href="https://www.facebook.com/DSCOfficial/" title="Facebook" class="facebook" target="_blank" data-hint="Follow us on Facebook">

                                        <span class="fa fa-facebook">   </span>

                                    </a>


                                </div>
                            </li>
                            <li>
                                <div class="gears-social-media-link twitter-wrap">


                                    <a href="#" title="Twitter" class="twitter" target="_blank" data-hint="Follow us on Twitter">

                                        <span class="fa fa-twitter">   </span>

                                    </a>


                                </div>
                            </li>
                            <li>
                                <div class="gears-social-media-link instagram-wrap">


                                    <a href="#" title="Instagram" class="instagram" target="_blank" data-hint="Follow us on Instagram">

                                        <span class="fa fa-instagram">   </span>

                                    </a>


                                </div>
                            </li>
                            <li>
                                <div class="gears-social-media-link googleplus-wrap">


                                    <a href="#" title="Google+" class="googleplus" target="_blank" data-hint="Follow us on G+">

                                        <span class="fa fa-google-plus">   </span>

                                    </a>


                                </div>
                            </li>
                            <li>
                                <div class="gears-social-media-link linkedin-wrap">


                                    <a href="#" title="Linkedin" class="linkedin" target="_blank" data-hint="Visit our LinkedIn">

                                        <span class="fa fa-linkedin">   </span>

                                    </a>


                                </div>
                            </li>



                        </ul>
                        <div class="clearfix"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-info">

                    <div class="row">

                        <div id="site-copyright" class="col-xs-12 col-sm-8">

                            <div class="row">

                                <div class="col-xs-12 col-sm-4">

                                    <div id="site-copytext">

                                        Copyright &copy; 2017 <a href="../product-landing-page/index.html" title="Flocks Community Demo">
							peerConnect						</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">

                            <div class="pull-right">

                                <a href="../product-landing-page/index.html" title="Flocks Community Demo &mdash; Just another WordPress site">

                                    <span id="footer-extratext">
					
					Build your Network wide
					
						&mdash;
						 
					peerConnect					
					</span>

                                </a>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- .site-info -->
            </div>
        </div>
    </div>
</footer>